<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=LT-SPD-T-DK\SUMITH;Initial Catalog=92_Core;User ID=coreuser;Password=6qMBDtstvuYdhIrGFMpy" />
  <add name="security" connectionString="Data Source=LT-SPD-T-DK\SUMITH;Initial Catalog=92_Core;User ID=securityuser;Password=8fIpVfxBOkpkQtUrrkxZ" />
  <add name="master" connectionString="Data Source=LT-SPD-T-DK\SUMITH;Initial Catalog=92_Master;User ID=masteruser;Password=4Rl6EZIwe2YYBpAUn9M2" />
  <add name="web" connectionString="Data Source=LT-SPD-T-DK\SUMITH;Initial Catalog=92_Web;User ID=webuser;Password=TA46fqawHSMYyYf3eKER" />
  <add name="messaging" connectionString="Data Source=LT-SPD-T-DK\SUMITH;Initial Catalog=92_Messaging;User ID=messaginguser;Password=xCAsIQQg7mWrMKAmtrv4" />
  <add name="xdb.marketingautomation" connectionString="Data Source=LT-SPD-T-DK\SUMITH;Initial Catalog=92_MarketingAutomation;User ID=marketingautomationuser;Password=0ihmdfd7IbYBkHC3ayFk" />
  <add name="xdb.processing.pools" connectionString="Data Source=LT-SPD-T-DK\SUMITH;Initial Catalog=92_Processing.Pools;User ID=poolsuser;Password=pkLzqvs2oq2tNIo5Xsfp" />
  <add name="xdb.referencedata" connectionString="Data Source=LT-SPD-T-DK\SUMITH;Initial Catalog=92_ReferenceData;User ID=referencedatauser;Password=RD5pp4pWL4doBOorqUBn" />
  <add name="xdb.processing.tasks" connectionString="Data Source=LT-SPD-T-DK\SUMITH;Initial Catalog=92_Processing.Tasks;User ID=tasksuser;Password=FqJKyzAcyYwyTEacxtr8" />
  <add name="experienceforms" connectionString="Data Source=LT-SPD-T-DK\SUMITH;Initial Catalog=92_ExperienceForms;User ID=formsuser;Password=j98QeeaWPoIVR2nzyM3U" />
  <add name="exm.master" connectionString="Data Source=LT-SPD-T-DK\SUMITH;Initial Catalog=92_EXM.Master;User ID=exmmasteruser;Password=afMLLELVGk0Uyp2FJ8Pr" />
  <add name="reporting" connectionString="Data Source=LT-SPD-T-DK\SUMITH;Initial Catalog=92_Reporting;User ID=reportinguser;Password=1XbPdFNLQLOQeyX3kNBl" />
  <add name="sitecore.reporting.client" connectionString="https://92xconnect.dev.local" />
  <add name="sitecore.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=6BB85F31175B06E0EE38F2DFEB6AC6FEDAF7BFAB" />
  <add name="solr.search" connectionString="https://solr75:8750/solr" />
  <add name="sitecoreidentity.secret" connectionString="XqWk3rvVCmrYcfxPa5nZTeUi7DTJJjPFYVTIeCQfAnO0r6MTTRaJTO8lPDVnrhjVEnQ71g17EJOVbJJ2Q3lY0DuvzSP1QsFYPeIg" />
  <add name="xconnect.collection" connectionString="https://92xconnect.dev.local" />
  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=6BB85F31175B06E0EE38F2DFEB6AC6FEDAF7BFAB" />
  <add name="xdb.marketingautomation.operations.client" connectionString="https://92xconnect.dev.local" />
  <add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=6BB85F31175B06E0EE38F2DFEB6AC6FEDAF7BFAB" />
  <add name="xdb.marketingautomation.reporting.client" connectionString="https://92xconnect.dev.local" />
  <add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=6BB85F31175B06E0EE38F2DFEB6AC6FEDAF7BFAB" />
  <add name="xdb.referencedata.client" connectionString="https://92xconnect.dev.local" />
  <add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=6BB85F31175B06E0EE38F2DFEB6AC6FEDAF7BFAB" />
  <add name="PackageManagementServiceUrl" connectionString="https://updatecenter.cloud.sitecore.net/" />
  <add name="EXM.CryptographicKey" connectionString="0x1805115091227353926588192010613981724632805150383848750707294493" />
  <add name="EXM.AuthenticationKey" connectionString="0x0252474615703732097700684958598817947023482641117376998235248423" />
</connectionStrings>